
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #ff8c00, #ffb515);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botón de volver al inicio */
.home-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #ffffff;
    color: #ff8c00;
    font-size: 22px;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(255, 199, 31, 0.2);
    transition: 0.3s;
    z-index: 1000;
}

.home-btn:hover {
    background: #ff8c00;
    color: #ffffff;
}

.login-container {
    width: 150%;
    max-width: 500px;
    padding: 40px;
}

.login-form {
    background: #ffffff;
    padding: 80px 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(255, 195, 15, 0.2);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #ff8c00;
}

.input-group input {
    width: 100%;

    
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 30px;
}

.input-group input:focus {
    border-color: #ff8c00;
    outline: none;
}

.btn-login {
    width: 100%;
    padding: 12px;
    border: none;
    background: #ff8c00;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    background: #ff8c00;
}

.registro-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.registro-link a {
    color: #ff8c00;
    text-decoration: none;
}

.registro-link a:hover {
    text-decoration: underline;
}