* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #ffa600ff, #0c0900ff);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #ffffff;
    color: #FF8C00;
    font-size: 22px;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    z-index: 1000;
}

.home-btn:hover {
    background: #FF8C00;
    color: #ffffff;
}

.registro-container {
    width: 100%;
    max-width: 420px;
    padding: 20px;
}

.registro-form {
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.registro-form h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.input-group {
    margin-bottom: 18px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.input-group input:focus {
    border-color: #006aff;
    outline: none;
}

.btn-registro {
    width: 100%;
    padding: 12px;
    border: none;
    background: #FF8C00;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-registro:hover {
    background: #004fc1;
}

.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #006aff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}