* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #f97316; /* naranja */
    display: flex;
    flex-direction: column;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.back-btn {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MAIN */
/* boton */
.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro-card {
    background: rgba(255, 255, 255, 0.95);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    border-radius: 25px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}
.btn-volver {
    display: inline-block;
    background-color: white;
    color: #f97316;
    padding: 10px 18px;
    border-radius: 12px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid white;
    transition: all 0.3s ease;
}

.btn-volver:hover {
    background-color: #f97316;
    color: white;
    transform: translateY(-2px);
}
/* TITULO */

.title {
    text-align: center;
    margin-bottom: 30px;
}

.title h1 {
    font-size: 26px;
    font-weight: bold;
}

/* FORMULARIO */

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    padding: 12px 15px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #f97316;
    outline: none;
}

/* BOTON */

.btn-registrar {
    padding: 14px;
    background-color: #f97316;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-registrar:hover {
    background-color: #ea580c;
}

/* LINK LOGIN */

.login-link {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

.login-link a {
    color: #f97316;
    font-weight: bold;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}